<p id="notice"><%= notice %></p>

<h1>Lendings</h1>

<%= render "detail", dealings: @lendings, side: "lender" %>

<br>
<h1>Borrowings</h1>

<%= render "detail", dealings: @borrowings, side: "borrower" %>

<br>
<%= link_to 'New Lending', new_lending_path %>
