<p id="notice"><%= notice %></p>

<h1>Lendings</h1>

<%= render "detail", lendings: @lendings %>

<br>
<h1>Borrowings</h1>

<%= render "detail", lendings: @borrowings %>

<br>
<%= link_to 'New Lending', new_lending_path %>
